.places__image {
    max-width: 460px;
}

@media screen and (max-width: 1150px) {
    .places__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 900px) {
    .places__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 500px) {
    .places__image {
        max-width: 100%;
        margin-left: -(calc(1vw - 320px));
    }  
}
