.cover__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    max-width: 360px;
    text-align: center;
    z-index: 1;
    margin: 0;
}

@media screen and (max-width:500px) {
    .cover__subtitle {
        max-width: 280px;
        font-size: 14px;
        line-height: 1.14;
    }
}