.lead__image {
    display: block;
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width:1150px) {
    .lead__image {
        max-width: 928px;
    }
}

@media screen and (max-width:928px) {
    .lead__image {
        max-width: 100%;
    }
}