.cover {
    max-width: 1184px;
    margin: 92px auto 92px;
}

@media screen and (max-width: 1150px) {
    .cover {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .cover {
        margin: 88px auto 88px;
    }
}

@media screen and (max-width: 500px) {
    .cover {
        margin: 66px auto 64px;
    }
}