.lead__caption {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    text-transform: uppercase;
    display: block;
    max-width: 984px;
    margin: 8px auto 92px;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 1150px) {
    .lead__caption {
        max-width: 928px;
    }
}

@media screen and (max-width: 1024px) {
    .lead__caption {
        margin: 8px 0 92px 48px;
    }
}

@media screen and (max-width: 900px) {
    .lead__caption {
        margin: 8px 0 88px 24px;
    }
}

@media screen and (max-width: 500px) {
    .lead__caption {
        margin: 8px 0 64px 16px;
    }
}