.lead__figure {
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1150px) {
    .lead__figure {
    max-width: calc(100% - 96px);
    }
}

@media screen and (max-width: 900px){
    .lead__figure {
    max-width: 100%;
    }
}