.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: 0 48px;
    flex-wrap: wrap;
}


@media screen and (max-width: 900px) {
    .footer {
        margin: 0 24px;
    }
}



@media screen and (max-width: 500px) {
    .footer {
        flex-direction: column;
        margin: 0;
    }
}